/* -----------------------------------------------------------------------------
 *
 * Components - Variables
 *
 * This file is just a clearing-house.
 * Make partials (start with an underscore) for any actual css code.
 *
 * ----------------------------------------------------------------------------- */

:root {
	/* -----------------------------------------------------------------------------
	 * Event Titles - By View
	 * ----------------------------------------------------------------------------- */

	--tec-color-text-day-events-title: var(--tec-color-text-events-title);
	--tec-color-text-latest-past-events-title: var(--tec-color-text-events-title);
	--tec-color-text-list-events-title: var(--tec-color-text-events-title);
	--tec-color-text-month-events-title: var(--tec-color-text-events-title);

	 /* -----------------------------------------------------------------------------
	 * Event Titles - By Widget
	 * ----------------------------------------------------------------------------- */

	--tec-color-text-widget-countdown-events-title: var(--tec-color-text-events-title);
	--tec-color-text-widget-list-events-title: var(--tec-color-text-events-title);
	--tec-color-text-widget-featured-venue-events-title: var(--tec-color-text-events-title);

	 /* -----------------------------------------------------------------------------
	 * Month View - For Customizer
	 * ----------------------------------------------------------------------------- */
	--tec-color-background-month-body: var(--tec-color-background-events);
	--tec-color-background-month-grid: var(--tec-color-border-secondary);
	--tec-color-month-grid-border-hover: var(--tec-color-border-active);
	--tec-color-month-days-of-week: var(--tec-color-text-secondary);
	--tec-color-month-date-marker: var(--tec-color-accent-secondary);
	--tec-color-month-date-marker-hover: var(--tec-color-accent-secondary-hover);
	--tec-color-month-date-marker-active: var(--tec-color-accent-secondary-active);
}
