/* -----------------------------------------------------------------------------
 *
 * Components - Variables
 *
 * This file is just a clearing-house.
 * Make partials (start with an underscore) for any actual css code.
 *
 * ----------------------------------------------------------------------------- */

 :root {
	/* -----------------------------------------------------------------------------
	 * Event Titles - By View
	 * ----------------------------------------------------------------------------- */

	 --tec-color-text-day-events-title: var(--tec-color-text-events-title);
	 --tec-color-text-latest-past-events-title: var(--tec-color-text-events-title);
	 --tec-color-text-list-events-title: var(--tec-color-text-events-title);
	 --tec-color-text-month-events-title: var(--tec-color-text-events-title);

	 /* -----------------------------------------------------------------------------
	 * Event Titles - By Widget
	 * ----------------------------------------------------------------------------- */

	 --tec-color-text-widget-countdown-events-title: var(--tec-color-text-events-title);
	 --tec-color-text-widget-list-events-title: var(--tec-color-text-events-title);
	 --tec-color-text-widget-featured-venue-events-title: var(--tec-color-text-events-title);
}
