.tribe-events {
	/* -----------------------------------------------------------------------------
	 * Calendar Body
	 * ----------------------------------------------------------------------------- */
	 .tribe-events-calendar-month__body {

		.tribe-common--breakpoint-medium& {
			background-color: var(--tec-color-background-month-body);
			border-top-color: var(--tec-color-background-month-grid);
		}

		.tribe-events-calendar-month__week {

			.tribe-common--breakpoint-medium& {
				border-left-color: var(--tec-color-background-month-grid);
			}
		}
	}
}
