.tribe-events {
	/* -----------------------------------------------------------------------------
	 * Calendar Body
	 * ----------------------------------------------------------------------------- */
	 .tribe-events-calendar-month__body {

		.tribe-common--breakpoint-medium& {
			background-color: var(--tec-color-background-month-body);
		}
	}
}
